.custom-body-tv {
    
}

.center-tv-style{
    text-align:center;
}

.row-tv-style {
    font-size: xx-large;
    font-weight: bold;
}

.row-vs-tv-style {
    vertical-align: middle;
    font-weight: bold;
}

.header-center {
    text-align: center;
    font-size: 18px;
}

.fixedElement {
    background-color: #191919;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}